html {
    font-size: 17px;
}
body{
    background: url("bg.png");
    background-size: cover;
}
.container{
    display: flex;
}
.container-item1{
    padding: 4px;
    margin:15px;
}
.container-item2{
    margin: 15px;
    padding:3%;
    border-radius: 50px 50px 50px 50px;
    overflow: visible;
}
.container-item3{
    margin: 12px;
    padding:3%;
    border-radius: 50px 0px 50px 50px;
    overflow:visible;
}

/*.container-item1{
    flex-wrap: wrap;
    color: whitesmoke;
}
.container-item2{
    background: blue;
}
.container-item3{
    background: white;
}*/